body {
	color:#444;
	font-family: "Helvetica Neue", HelveticaNeue, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
}
a,
a:visited {
	color:#999;
	text-decoration: none;
}
a,
a:visited {
	color:#999;
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	color: #3858b5;
}

#wrap {
	margin:1% auto;
	width:960px;
}
#site-header {
	float:left;
	width:190px;
}
#site-content {
	float:right;
	height:96%;
	position: relative;
	width:750px;
}
#kekkai-map {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height:100%;
	width:100%;
}
#more-info {
-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;

opacity: 0.95;
-moz-opacity: 0.95;
-khtml-opacity: 0.95;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=95);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
filter:alpha(opacity=95);

	background: #444;
	bottom:-1px;
	color: #fff;
	display: none;
	height:200px;
	padding: 10px;
	position: absolute;
	width:730px;
}
#select-kekkai {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

#select-kekkai li {
	padding: 3px 0;
}
#select-kekkai li a {
  background: #eeeeee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #aaaaaa);
  background-image: -moz-linear-gradient(top, #eeeeee, #aaaaaa);
  background-image: -ms-linear-gradient(top, #eeeeee, #aaaaaa);
  background-image: -o-linear-gradient(top, #eeeeee, #aaaaaa);
  background-image: linear-gradient(to bottom, #eeeeee, #aaaaaa);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  display: block;
  font-family: 'bebas_neueregular', sans-serif;
	font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 0px;
  text-decoration: none;

	text-align: center;
	width: 190px;
}
#select-kekkai li a:hover,
#select-kekkai li a:focus,
#select-kekkai li a:active {
  background: #76a5de;
  background-image: -webkit-linear-gradient(top, #76a5de, #3858b5);
  background-image: -moz-linear-gradient(top, #76a5de, #3858b5);
  background-image: -ms-linear-gradient(top, #76a5de, #3858b5);
  background-image: -o-linear-gradient(top, #76a5de, #3858b5);
  background-image: linear-gradient(to bottom, #76a5de, #3858b5);
  text-decoration: none;
}
.infowindow-text p {
	margin:0;
}
.doe_pic {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:1em 1em 0 0;
}
.kekkai_thumb {
	float:left;
	margin:0 1em 0 0; 
}